.lel{
	color:black;
	border: 2px black double;
	}
	
.ok {
	width: 220px;
    height: 200px;
    margin:15px
    
    
     
}
   

.coucou{
color:#800080;
font-family:Verdana, sans-serif;
}
.maman{
	text-align:justify;
	color:#0000CD;
	text-decoration:underline;
	font-family:Verdana, sans-serif;
	}
	
.reste{
margin:10px;
	display:inline;
	 float: left;
    list-style-type: none;
    width: 300px;
    height: 30px;
    font-family:Verdana, sans-serif;	
    }
body{background-image:url("coucou.jpg");}
